.event 
    background-image: url(~/assets/img/events-bg.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: left center
    padding: 30px
    padding-right: 20px
    padding-left: 50px
    &__title
        padding: 0
        margin: 0
        color: #fff
        text-transform: uppercase
        +fz(24)
        font-weight: 700
        letter-spacing: 0.6px
    &__text
        text-transform: uppercase
        +fz(14)
        line-height: 20px
        color: #fff
        padding: 10px 0
        letter-spacing: 0.4px
        p
            font-weight: 300
            padding: 0
            margin: 0
        b
            font-weight: 700