@import "vars/index"
@import "setting/index"
@import "fonts"

@import "mixin/index"
@import "loader"
@import "error-page"
@import "header/header"
@import "menu/index"
@import "scroll"
*
  box-sizing: border-box
body
  background-color: #000
  line-height: 1.5
  font-size: 16px
  padding: 0
  margin: 0
.container
  padding-left: 230px
.section
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: #fff
  &-image
    background-repeat: no-repeat
    background-size: cover
    background-position: center
  &-bg-top
    -webkit-background-size: contain
    background-size: contain
    background-position: top center
    background-color: #fff
  &_pad
    padding: 30px 10px
    flex-wrap: wrap
    min-height: auto
    flex-wrap: wrap
  &_image
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    background-position: center
  &__wrapper
    margin: 0 auto
    max-width: 1170px
    width: 100%
    display: flex
    align-items: stretch
  &__title
    text-transform: uppercase
    color: #000
    +fz(24)
    font-weight: 900
    flex-basis: 100%
    text-align: center

@media screen and (max-width: 1600px)
  .container
    padding-left: 150px
@media screen and (max-width: 992px)
  .container
    padding-left: 70px
@media screen and (max-width: 768px)
  .container
    padding-left: 0
@import "content/index"
@import "form"
@import "slider/index"
@import "components/index"
@import "objects/index"
.content__events
  background-color: transparent
  .event
    display: block

