.list
    &__content
        flex-basis: 100%
        max-width: 1170px
    &__title
        +fz(18)
        font-weight: 700
        color: #131313
        text-transform: uppercase
    &__block
        padding-bottom: 30px
    &__images
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        img
            flex-basis: 24%
            margin-bottom: 20px
            cursor: pointer