.visual
  margin-top: 20px
  text-align: center
  img
    max-width: 100%
    width: auto
    position: relative
    z-index: 1
    vertical-align: top
    &.no-full
      max-width: none
    &.full
      max-width: 100%
      width: 100%
  &__svg
    position: absolute
    z-index: 2
    top: 0
    bottom: 0
    left: 0
    right: 0
    svg
      width: 100%
      path
        cursor: pointer
        stroke: none
        fill: transparent
        transition: all .25s
        &:hover
          fill: rgba(#d31511, .4)
  &__hover
    position: absolute
    background-color: #c2021d
    color: #fff
    padding: 10px
    h2
      padding: 0
      margin: 0
    p
      padding: 0
      margin: 0
